.my_form{
    margin-top:15%;
}

.Subscriber_list{
    max-height: 450px;
    overflow: auto;
}
.label {
    padding: 0.2em 0.2em 0.3em !important;
}
 .subcol{
        padding: 2px; min-width: 20%; float: left; text-align: center;
    }
 .subcol_BB{
        padding: 2px; min-width: 30%; float: left; text-align: center;
    }